@import url('http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    box-sizing: border-box;
    font-size: 14px;
}
#fvvmain_page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
#page_2 {
    max-width: 500px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    background-image: linear-gradient(to top, #fefefe, #c4c2c2, #c2bfbf, #bebcbc, #bab8b8);
}
#setting {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#header_page_2{
    height: 20%;
    /* background-image: linear-gradient(to top, #bab8b8, #afadae, #a4a3a3, #999899, #8e8e8e);;
     */
    background-color: #eceaea;
    padding-bottom: 10%;
}
#main_page_2{
    height: 100%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.main_page2_padding{
    height: 100%;
    display: flex;
    flex-direction: column;
}
#footer_page_2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8%;
    background-color: #eceaea;
    box-shadow:0px 0px 5px rgba(40, 38, 38, 0.614);
    border-radius: 5px 5px 0 0;
}
.page_2_padding {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1%;
}
.show_user{
    height: 70%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

}
.portrait_box{
    height: 3rem;
    width: 3rem;
}
.setting_button{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 8%;
    border-radius: 0.5rem;
    background-color: #bebdbd;
    border-color: #bebdbd;
    cursor: pointer;
    &:active{
        background-color:#eceaea;
    }
}
.setting_button_back{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.border_box{
    border: 1px black solid;
}
#page0_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:2%;
    height: 8%;
    background-color:#eceaea;
    box-shadow:0px 0px 5px rgba(40, 38, 38, 0.614);
    border-radius: 5px 5px 0 0;
}
.page_bu{
    cursor: pointer;
    border-color: #8e8e8efc;
    border-radius: 1rem;
    &:active{
        background-color: #eceaea;
    }
}