#page_0 {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #cbc7c7, #bbb8b9, #acaaab, #9c9c9d, #8e8e8e);
    display: flex;
    flex-direction: column;
}
#remind {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#remind_header {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10%;
    background: #c5c3c3;
}
.remind_header_content{
    height: 80%;
    width: 92.5%;
}
#remind_main {
    height: 100%;
}
.remind_main_padding{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.remind_content_background {
    display: flex;
    flex-direction: column;
}
.remind_0{
    height: 40%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
}
.remind_content_0{
    border-radius: 1rem;    
    height: 100%;
}
.remind_1{
    height: 60%;
    width: 100%;
    padding-left: 4%;
    padding-right: 1%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
}
.remind_content_1{
    height: 100%;
    border-radius: 1rem;
}
.remind_2{
    height: 40%;
    padding-left: 2%;
    padding-right: 4%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
}
.remind_content_2{
    height: 100%;
    border-radius: 1rem;
}
.remind_3{
    height: 60%;
    padding-left: 2%;
    padding-right: 4%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
}
.remind_content_3{
    height: 100%;
    border-radius: 1rem;
}
.remind_4{
    flex-direction: row;
    height: 60%;
}
.remind_5{
    width: 50%;
}
.remind_6{
    width: 50%;
}
.remind_7{
    height: 40%;
    width: 100%;
    padding-left: 4%;
    padding-right: 1%;
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
}
.remind_content_7{
    height: 100%;
    border-radius: 1rem;
}
#page0_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    background-color:#eceaea;
    border: rgb(250, 223, 164) 1px solid;
    border-radius: 5px 5px 0 0;
}
.page_bu{
    cursor: pointer;
    border-color: #8e8e8efc;
    border-radius: 1rem;
    &:active{
        background-color: #eceaea;
    }
}